<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active">{{#link-to 'lists'}}Home{{/link-to}}</li>
            <li role="presentation">{{#link-to 'orders'}}Your Orders{{/link-to}}</li>
          </ul>
        </nav>
        <h3 class="text-muted">JPeng's Photo Online Shop</h3>
      </div>

      {{outlet}}

      <footer class="footer">
        <p>2019 @ Jane Peng</p>
      </footer>

    </div> <!-- /container -->